.navbar {
  width: 250px;
  background-color: blueviolet;
  height: 100%;
}

ul {
  background-color: rgb(31, 29, 29);
  text-align: center;
  height: 100%;
}

li {
  display: inline-block;
  padding: 10px;
  width: 80%;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

li:not(:last-child) {
  border-bottom: 1px solid white;
}

.nav-link {
  text-decoration: none;
  color: aliceblue;
}

.nav-link-active {
  color: greenyellow;
}
